# MySQL
MYSQL_ROOT_PASSWORD=replace_with_strong_root_password
MYSQL_DATABASE=dottdb
MYSQL_USER=do0tt
MYSQL_PASSWORD=replace_with_strong_db_password

# Backend runtime
ISSUER_BASE_URL=https://dev-3hmy3galmqfty1xt.us.auth0.com
AUDIENCE=https://be.dott-pc.com.ar
CLIENT_ORIGIN_URL=https://dott-pc.com.ar

# HTTPS in Nest backend
ENABLE_HTTPS=true
HTTPS_KEY_PATH=./secrets/privkey.pem
HTTPS_CERT_PATH=./secrets/fullchain.pem

# JWT
JWT_AT_SECRET=replace_with_long_random_secret
JWT_RT_SECRET=replace_with_long_random_secret

# Backend DB settings
DB_HOST=mysql
DB_PORT=3306
DB_USER=do0tt
DB_PASSWORD=replace_with_strong_db_password
DB_NAME=dottdb
DB_SYNC=false

# RabbitMQ
RABBITMQ_QUEUE=RABBIT_MR_DOTT_QUEUE
RABBITMQ_PYTHON_QUEUE=PYTHON_QUEUE
RABBITMQ_RETRY_DELAY=5
