Repo-Python-DB-DottAPI
archivosPorCargar\archivosJson\*.json
archivosPorCargar\csv\*.csv
archivosPorCargar\temporales\*.csv
archivosPorCargar\temporales\*.xlsx
nuevosScripts\Air
nuevosScripts\Eik
nuevosScripts\Elit
nuevosScripts\Hdc
nuevosScripts\Invid
nuevosScripts\Megacom
nuevosScripts\Nb
productosDB.sqlite
test.py
FILTROS PARA LISTAS.ods
.git
# VCS
.git
.gitignore

# Python caches y entornos
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
.env
.env.*

# Distribución
build/
dist/
*.egg-info/

# Node (si hubiera)
node_modules/

# IDE/editor
.vscode/
.idea/

# ⚠️ No ignores el Dockerfile ni requirements.txt dentro del contexto
# Dockerfile
# requirements.txt

