@use "sass:math";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-colors: (
  // "dottoscuro": #142617,
  "dottoscuro": #260104,
  // "dottclaro": #386b41,
  "dottclaro": #73030d,
  // "fondoOscuro": #c9cfcf,
  "fondoOscuro": #cfcfcf,
  // "fondoClaro": #f4f4f6,
  "fondoClaro": #f1f1f1,
  "rojodott": #73030d
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// Definición de las variables
$input-custom-color: #73030d;

.custom-input {
  // Estilos generales del input
  background-color: white;
  border: 1px solid $input-custom-color;
  color: $input-custom-color;
  padding: 10px;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    color: $input-custom-color;
  }

  &:focus {
    border-color: #73030d;
    box-shadow: 0 1px 1px #73030d inset, 0 0 8px #73030d;
    outline: none;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: #f1f1f1 !important;
  background-color: #260104 !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";

p {
  // color: #142617 !important;
  color: #260104 !important;
}

.borderCategory {
  // border: 1px #142617 solid;
  border: 1px #260104 solid;
}

.achicarLetra {
  font-size: 0.9rem !important;
}

@media (max-width: 990px) {
  .mostrar {
    display: flex !important;
  }

  .ocultar {
    display: none !important;
  }

  .addMarginTop {
    margin-top: 1.2rem;
  }
}

@media (max-width: 610px) {
  .sizingResponsive {
    width: 350px !important;
  }
  .makeColumn {
    flex-direction: column;
  }

  .addMarginTop {
    margin-top: 1.2rem;
  }

  .achicarCard {
    width: 11.5rem !important;
  }

  .expandContainer {
    width: 100% !important;
  }

  .contractContainer {
    width: 75% !important;
  }
}
